.cart-show-discounts {
    margin: 5px 0;
}

.productinfo-show-discounts {
    margin: 5px 0;
}

.wpd_need_discount{
	cursor:pointer;
	text-align:right;
}

.wpd_discounts{
	display:none;
	cursor:pointer;
	position:relative;
	z-index:2;
}


.wpd_discounts ul {
    clear: both;
    list-style: outside none none;
    margin: 0;
    padding: 0;
	width:65%;
}

.wpd_discounts ul li {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px 10px 0;
    padding: 6px 8px;
}

.wpd_discounts ul li:nth-of-type(1n) { background-color:#fab70e; }
.wpd_discounts ul li:nth-of-type(2n) { background-color:#797f4f; }
.wpd_discounts ul li:nth-of-type(3n) { background-color:#009a90; }
.wpd_discounts ul li:nth-of-type(4n) { background-color:#84546c; }
.wpd_discounts ul li:nth-of-type(5n) { background-color:#e00d5a; }

.wpd_discounts ul li:nth-of-type(6n) { background-color:#7d7173; }
.wpd_discounts ul li:nth-of-type(7n) { background-color:#ba7c01; }
.wpd_discounts ul li:nth-of-type(8n) { background-color:#7a65a0; }
.wpd_discounts ul li:nth-of-type(9n) { background-color:#023b42; }
.wpd_discounts ul li:nth-of-type(10n) { background-color:#cf6823; }


.wpd_discounts div{
	display:none;
}
.wpd_discounts_div{
	margin:0 0 10px 0;
}
.wpd_discounts_div .wdp_availble_discounts {
    background-color: #d66060;
    clear: both;
    color: white;
    float: left;
    font-size: 14px;
    margin-bottom: 6px;
    padding: 2px 6px 4px;
    width: auto;
}
.wpd_discounts_div .wdp_availble_discounts span {
    color: yellow;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.woocommerce > form.wdp-form {
	position:relative;
	
	
}
.woocommerce > form.wdp-form > table.shop_table{
	position:relative;
	background-color:#fff;
	z-index:2;
}

.woocommerce > form.wdp-form > table.shop_table tr.cart_item{
	cursor:pointer;
}
.woocommerce > form.wdp-form > table.shop_table tr.cart_item.active{
	background-color:#eee;
}

/* arm animaton */
@-webkit-keyframes armanim {
20% { -webkit-transform: rotate(8deg); }	
40% { -webkit-transform: rotate(-8deg); }
60% { -webkit-transform: rotate(8deg); }
}

@-moz-keyframes armanim {
20% { -moz-transform: rotate(8deg); }	
40% { -moz-transform: rotate(-8deg); }
60% { -moz-transform: rotate(8deg); }
}

@-ms-keyframes armanim {
20% { -ms-transform: rotate(8deg); }	
40% { -ms-transform: rotate(-8deg); }
60% { -ms-transform: rotate(8deg); }
}

@-o-keyframes armanim {
20% { -o-transform: rotate(8deg); }	
40% { -o-transform: rotate(-8deg); }
60% { -o-transform: rotate(8deg); }
}

@keyframes armanim {
20% { transform: rotate(8deg); }	
40% { transform: rotate(-8deg); }
60% { transform: rotate(8deg); }	
}


/* face animaton */
@-webkit-keyframes faceanim {
30% { -webkit-transform: rotate(4deg); }	
50% { -webkit-transform: rotate(-4deg); }
70% { -webkit-transform: rotate(4deg); }
}

@-moz-keyframes faceanim {
30% { -moz-transform: rotate(4deg); }	
50% { -moz-transform: rotate(-4deg); }
70% { -moz-transform: rotate(4deg); }
}

@-ms-keyframes faceanim {
30% { -ms-transform: rotate(4deg); }	
50% { -ms-transform: rotate(-4deg); }
70% { -ms-transform: rotate(4deg); }
}

@-o-keyframes faceanim {
30% { -o-transform: rotate(4deg); }	
50% { -o-transform: rotate(-4deg); }
70% { -o-transform: rotate(4deg); }
}

@keyframes faceanim {
30% { transform: rotate(4deg); }	
50% { transform: rotate(-4deg); }
70% { transform: rotate(4deg); }	
}


.arm-rotatation{
-webkit-animation: armanim 5s infinite;
-moz-animation: armanim 5s infinite;
-ms-animation: armanim 5s infinite;
-o-animation: armanim 5s infinite;
animation: armanim 5s infinite;
}

.face-rotatation{
-webkit-animation: faceanim 7s infinite;
-moz-animation: faceanim 7s infinite;
-ms-animation: faceanim 7s infinite;
-o-animation: faceanim 7s infinite;
animation: faceanim 7s infinite;
}


.wpd_discounts_agent {
position:absolute;
right:0;
top:-70px;
cursor:pointer;
}

.wpd-discount-wrap {
position:relative;
}

.wpd-character-with-board {
background:url("../images/still-anim-sprite.png") no-repeat left bottom;
width:177px;
height:127px;
position:relative;
z-index:1;
}

.wpd-character-face{
background:url("../images/parts-anim-sprite.png") no-repeat left bottom;
width:77px;
height:60px;
position:absolute;
right:17px;
top:0;
z-index:1;
}

.wpd-character-arm {
background:url("../images/parts-anim-sprite.png") no-repeat right bottom;
width:31px;
height:31px;
position:absolute;
right:2px;
top:42px;
}

.wpd-static {
background:url("../images/still-sprite.png") no-repeat left top;
height:136px;
width:176px;
}

.wpd-static .wpd-discount-wrap {
display:none;
}


